
*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
}
.container{
    width:100%;
    height: auto;
    font-family: 'cookie';
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #6F2DA8
    
}
.banner{
    width:100%;
    height: 650px;
    background-image: url(https://t3.ftcdn.net/jpg/03/83/97/82/360_F_383978212_PpuugqLbSi1JsHJXGbmgcCgpLBNC5gdK.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 0 0 500px 0;
}
.nav{
    width:90%;
    height: auto;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/661/579/735/lilac-purple-flower-floral-wallpaper-preview.jpg");
    border-radius: 30px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav b{
    font-size: 40px;
    margin-left: 20px;
    color: white;
}
.menu{
    width:50%;
    height: 60px;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    transition-duration: .5s;
}
.menu a{
    text-decoration: none;
    font-size: 30px;
    color:#ffff;
    font-weight: bolder;
    transition-duration: .5s;
}
.menu a:hover{
    border-bottom: 5px solid #ffff;
}
.text{
    width:100%;
    position: relative;
    top:40px;
    left: 20px;
    font-size: 50px;
    text-align: left;
}
.text h1{
    color:#6F2DA8;
    text-shadow: 0 3px 10px rgba(0,0,0,.5);
}
.text .date{
    color:#fff;
    background-color: #6F2DA8;
    padding: 5px;
    border-radius: 40px 0 40px 0;
    transition-duration: .5s;
}
.text .date:hover{
    background-color: #fff;
    color:#6F2DA8;
}
.section{
    width:100%;
    height: auto;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.us{
    width:80%;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 3px 10px 0 rgba(100,100,100,.3);
}
.us img{
    width:200px;
    height: 200px;
    border-radius: 50%;
    border-top: 10px solid #6F2DA8;
    border-bottom: 10px solid #6F2DA8;
    margin-bottom: 20px;
}
.section h2{
    width:100%;
    text-align: center;
    color:#6F2DA8;
    font-size: 60px;
}
.us1 {
    display: flex;
    flex-direction: column;
}
.us1 span{
    color:#fff;
    font-size: 40px;
    padding: 8px;
    background-color: #6F2DA8;
    border-radius: 8px;
}
.venue{
    width:50%;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    box-shadow: 0 3px 10px 0 rgba(100,100,100,.3);
}
.venue img{
    width:125%;
    height: 350px;
    display: inline;
    border-radius: 8px;
    margin-bottom: 10px;
}

  

.venue p{
    text-align: center;
    font-size: 35px;
    line-height: 30px;
    color:#333;
}
.party{

    width:50%;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    box-shadow: 0 3px 10px 0 rgba(100,100,100,.3);
}
.party img{
    width:125%;
    height: 300px;
    display: inline;
    border:2px solid #6F2DA8;
    border-radius: 8px;
    margin-bottom: 10px;
}
.party p{
    font-size: 35px;
    line-height: 30px;
    color:#333;
}
footer{
    width:50%;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    box-shadow: 0 3px 10px 0 rgba(100,100,100,.3);
}
footer i{
    color:skyblue;
    font-size: 30px;
    margin-left: 20px;
}